@import "resets";
@import "boilerplate-4.2.0";
@import "facebox";
@import "fancybox-1.3.1";

/* start mixins */
@import "box-sizing";
@import "border-radius";
@import "utility";
@import "transition";
@import "image-set";
/* end mixins */


/* reset */



body {
	overflow-y:scroll;
	overflow-x:hidden;
}

.clr {
	clear:both;
}

body {
	background: #000 url(../images/background.jpg) no-repeat center top;
	text-align:center;
	color:#E5DCCF;
	font: 12px Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
}

/* these are the paths to the large header titles */
div.branding h1#title		{
	background:transparent url('../images/page_titles_branding.png') no-repeat;
	/*@include image-set('../images/page_titles_branding.png','../images/page_titles_branding@2X.png');*/
}
div.craft h1#title			{
	background:transparent url('../images/page_titles_craft.png') no-repeat;
	/*@include image-set('../images/page_titles_craft.png','../images/page_titles_craft@2X.png');*/
}
div.design h1#title			{
	background:transparent url('../images/page_titles_design.png') no-repeat;
	/*@include image-set('../images/page_titles_design.png','../images/page_titles_design@2X.png');*/
}
div.home h1#title			{
	background:transparent url('../images/page_titles_home.png') no-repeat;
	/*@include image-set('../images/page_titles_home.png','../images/page_titles_home@2X.png');*/
}
div.illustration h1#title 	{
	background:transparent url('../images/page_titles_illustration.png') no-repeat;
	/*@include image-set('../images/page_titles_illustration.png','../images/page_titles_illustration@2X.png');*/
}
div.logos h1#title 			{
	background:transparent url('../images/page_titles_logos.png') no-repeat;
	/*@include image-set('../images/page_titles_logos.png','../images/page_titles_logos@2X.png');*/
}
div.packaging h1#title 		{
	background:transparent url('../images/page_titles_packaging.png') no-repeat;
	/*@include image-set('../images/page_titles_packaging.png','../images/page_titles_packaging@2X.png');*/
}
div.print h1#title 			{
	background:transparent url('../images/page_titles_print.png') no-repeat;
	/*@include image-set('../images/page_titles_print.png','../images/page_titles_print@2X.png');*/
}
div.web h1#title			{
	background:transparent url('../images/page_titles_web.png') no-repeat;
	/*@include image-set('../images/page_titles_web.png','../images/page_titles_web@2X.png');*/
}

/* this is for the global nav */
#nav_home 			a {
	background-image: url(../images/nav_home.png);
	@include image-set('../images/nav_home.png','../images/nav_home@2X.png');
}
#nav_illustration 	a {
	background-image: url(../images/nav_illustration.png);
	@include image-set('../images/nav_illustration.png','../images/nav_illustration@2X.png');
}
#nav_design 		a {
	background-image: url(../images/nav_design.png);
	@include image-set('../images/nav_design.png','../images/nav_design@2X.png');
}
#nav_branding 		a {
	background-image: url(../images/nav_branding.png);
	@include image-set('../images/nav_branding.png','../images/nav_branding@2X.png');
}
/*#nav_web 			a { background-image: url(../images/nav_web.png); }
#nav_craft 			a { background-image: url(../images/nav_craft.png); }
#nav_print 			a { background-image: url(../images/nav_print.png); }
#nav_logos 			a { background-image: url(../images/nav_logos.png); }
#nav_packaging 		a { background-image: url(../images/nav_packaging.png); }
#nav_kachina 		a { background-image: url(../images/nav_kachina.png); }       */

span#fancy_left_ico {left: 20px; } 
span#fancy_right_ico {right: 20px;}

div.illustration li#kachina { top:18px; }
div.design li#kachina { top:36px; }
div.branding li#kachina { top:54px; }
div.web li#kachina { top:72px; }
div.craft li#kachina { top:90px; }
div.print li#kachina { top:108px; }
div.logos li#kachina { top:126px; }
div.packaging li#kachina { top:144px; }

li#kachina {
	background: url('../images/nav_kachina.png') no-repeat top left;
	@include image-set('../images/nav_kachina.png','../images/nav_kachina@2X.png');
	width: 19px;
	height: 15px;
	position:absolute;
	top:0;
	right:-26px;
}

h1#title {
	width:172px;
	height:51px;
	display:block;
	text-indent:-99999em;
	position:absolute;
	top:412px;
	left:30px;
}

a#logo {
	width:76px;
	height:75px;
	background-image: url(../images/zia_button.png);
	@include image-set('../images/zia_button.png','../images/zia_button@2X.png');
	display: block;
	cursor: pointer;
	position:absolute;
	left: 50%;
	text-indent: -99999em;
	top: 16px;
	margin-left:-37px;
}

a#logo:hover {
	background-position:0 -73px;
}

div#footer {
	left:50%;
	margin-left:-169px;
	position:absolute;
	top:552px;
	padding-bottom:250px;
}

div#footer a {
	display: block;
	height: 18px;
	text-indent: -99999em;
}

div#footer ul li {
	display:inline-block;
	margin:0;
	padding:0;
}

#footer ul li#phone {
	margin-left:-3px;
}

div#footer a#phone {
	background: url(../images/phone_button.png) no-repeat;
	@include image-set('../images/phone_button.png','../images/phone_button@2X.png');
	width: 144px;
}

div#footer a#email {
	width: 180px;
	background: url(../images/email_button.png) no-repeat;
	@include image-set('../images/email_button.png','../images/email_button@2X.png');
}

div#footer a#phone:hover, div#footer a#email:hover {
	background-position:0 -18px;
}


div #gallery {
	position:absolute;
	top:138px;
	left:240px;
}



div #gallery ul li.slide {
	display:inline-block;
	position:relative;
	width:508px;
	height:317px;
	background-image: url(../images/content_box.png);
	@include image-set('../images/content_box.png','../images/content_box@2X.png');
	margin-right:12px;
}

div #gallery ul li.slide.blank {
	background:none;
}

div #gallery ul li.slide img.thumb {
	width:490px;
	height:280px;
	position:absolute;
	top:27px;
	left:9px;
	border:1px solid #C9BCA6;
}

div #gallery ul li.slide p {
	padding-left:9px;
	padding-top:8px;
}

div #gallery ul li.slide p.title {
	text-align:right;
	padding:0;
	padding-top:6px;
	padding-right:28px;
	font-size:11px;
}

div #gallery_wrapper {

}

div #gallery_wrapper.touch {
	position:relative;
    z-index:1;
    width:1040px;
    height:317px;
    overflow:hidden;
}

div #gallery_wrapper.touch ul {
	width:2280px;
	overflow:hidden;
}

div #gallery_wrapper.touch ul li {
	float:left;
}

#wrapper {
    
}

#wrapper {
	width:1000px;
	margin:0 auto;
	position:relative;
	margin-top:223px;
	text-align:left;
}

a.gallery_btn {
	display:block;
	height: 36px;
	text-indent: -99999em;
	position:absolute;
	top:342px;
	cursor:pointer;
	opacity:.75;
}

a.gallery_btn:hover {
	opacity:1;
}



a.gallery_btn#next_btn {
	background-image: url(../images/next_button.png);
	@include image-set('../images/next_button.png','../images/next_button@2X.png');
	width: 72px;
	left:446px;
}

a.gallery_btn#prev_btn {
	background-image: url(../images/previous_button.png);
	@include image-set('../images/previous_button.png','../images/previous_button@2X.png');
	width: 90px;
	left:0;
}

#main_nav ul {
	position:absolute;
	left:110px;
	top:160px;
}

#main_nav ul li {
	cursor:pointer;
}

#main_nav ul li a {
	width:90px;
	height:18px;
	display:block;
	opacity:.7;
	text-indent:-99999em;
}

#main_nav ul li a:hover {
	opacity:1;
}


p.specs {
	font-weight:bolder;
	font-size:15.5px;
	opacity:0.6;
}

p.media {
	font-size:11px;
	opacity:0.9;
}

div#facebox div.popup table tbody td.body div.content {
	padding-top:29px;
	background: url(../images/modal_window_tab.png) no-repeat;
	@include image-set('../images/modal_window_tab.png','../images/modal_window_tab@2X.png');
}

div#fancybox-inner {
	padding-top:29px;
	background: url(../images/modal_window_tab.png) no-repeat;
	@include image-set('../images/modal_window_tab.png','../images/modal_window_tab@2X.png');
}

.fancy-bg {
	display:none;
}

div#fancybox-inner img {
	border:2px solid #646A63;
	margin-right:2px;
	
}

div#fancybox-inner p {
	padding-top:6px;
}

div#facebox div.popup table tbody td.body div.content img {
	border:2px solid #646A63;
}

div#fancybox-inner p {
	text-align:right;
	color:#C9BDA6;
}

#facebox #modal_prev {
	left:20px;
}

#facebox #modal_next {
	right:20px;
}

