html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

legend {
  display: none;
}

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
}

body {
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
/*#facebox .b {
  background:url(b.png);
}

#facebox .tl {
  background:url(tl.png);
}

#facebox .tr {
  background:url(tr.png);
}

#facebox .bl {
  background:url(bl.png);
}

#facebox .br {
  background:url(br.png);
}*/
#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
}

#facebox .popup {
  position: relative;
}

#facebox table {
  border-collapse: collapse;
}

#facebox td {
  border-bottom: 0;
  padding: 0;
}

#facebox .body {
  /*padding: 10px;
    background: #fff;*/
  width: 370px;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox .footer {
  /*border-top: 1px solid #DDDDDD;*/
  /*padding-top: 5px;
    margin-top: 10px;
    text-align: right;*/
  position: absolute;
  top: 40px;
  right: 12px;
}

#facebox .tl, #facebox .tr, #facebox .bl, #facebox .br {
  height: 10px;
  width: 10px;
  overflow: hidden;
  padding: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.facebox_hide {
  z-index: -100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}

* html #facebox_overlay {
  /* ie6 hack */
  position: absolute;
  height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

/*
 * FancyBox - jQuery Plugin
 * Simple and fancy lightbox alternative
 *
 * Examples and documentation at: http://fancybox.net
 * 
 * Copyright (c) 2008 - 2010 Janis Skarnelis
 *
 * Version: 1.3.1 (05/03/2010)
 * Requires: jQuery v1.3+
 *
 * Dual licensed under the MIT and GPL licenses:
 *   http://www.opensource.org/licenses/mit-license.php
 *   http://www.gnu.org/licenses/gpl.html
 */
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 40px;
  width: 40px;
  margin-top: -20px;
  margin-left: -20px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1104;
  display: none;
}

* html #fancybox-loading {
  /* IE6 */
  position: absolute;
  margin-top: 0;
}

#fancybox-loading div {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 480px;
  background-image: url("fancybox.png");
}

#fancybox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  z-index: 1100;
  display: none;
}

* html #fancybox-overlay {
  /* IE6 */
  position: absolute;
  width: 100%;
}

#fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  overflow: auto;
  display: none;
}

#fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 20px;
  z-index: 1101;
  display: none;
}

#fancybox-outer {
  position: relative;
  width: 100%;
  height: 100%;
  background: none;
}

#fancybox-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: 0;
  outline: none;
  overflow: hidden;
}

#fancybox-hide-sel-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}

#fancybox-close {
  position: absolute;
  top: 38px;
  right: 0px;
  width: 50px;
  height: 50px;
  background: url("fancy_close.png") no-repeat top left;
  cursor: pointer;
  z-index: 1103;
  display: none;
}

#fancybox_error {
  color: #444;
  font: normal 12px/20px Arial;
  padding: 7px;
  margin: 0;
}

#fancybox-content {
  height: auto;
  width: auto;
  padding: 0;
  margin: 0;
}

#fancybox-img {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  line-height: 0;
  vertical-align: top;
  -ms-interpolation-mode: bicubic;
}

#fancybox-frame {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

#fancybox-title {
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: Arial;
  font-size: 12px;
  z-index: 1102;
}

.fancybox-title-inside {
  padding: 10px 0;
  text-align: center;
  color: #333;
}

.fancybox-title-outside {
  padding-top: 5px;
  color: #FFF;
  text-align: center;
  font-weight: bold;
}

.fancybox-title-over {
  color: #FFF;
  text-align: left;
}

#fancybox-title-over {
  padding: 10px;
  background-image: url("fancy_title_over.png");
  display: block;
}

#fancybox-title-wrap {
  display: inline-block;
}

#fancybox-title-wrap span {
  height: 32px;
  float: left;
}

#fancybox-title-left {
  padding-left: 15px;
  background-image: url("fancybox.png");
  background-position: -40px -90px;
  background-repeat: no-repeat;
}

#fancybox-title-main {
  font-weight: bold;
  line-height: 29px;
  background-image: url("fancybox-x.png");
  background-position: 0px -40px;
  color: #FFF;
}

#fancybox-title-right {
  padding-left: 15px;
  background-image: url("fancybox.png");
  background-position: -55px -90px;
  background-repeat: no-repeat;
}

#fancybox-left, #fancybox-right {
  position: absolute;
  bottom: 0px;
  height: 100%;
  width: 35%;
  cursor: pointer;
  outline: none;
  background-image: url("blank.gif");
  z-index: 1102;
  display: none;
}

#fancybox-left {
  left: 0px;
}

#fancybox-right {
  right: 0px;
}

body.touch #fancybox-left, body.touch #fancybox-right {
  display: inline;
  visibility: visible;
}

#fancybox-left-ico, #fancybox-right-ico {
  position: absolute;
  top: 50%;
  left: -9999px;
  width: 50px;
  height: 26px;
  margin-top: -15px;
  cursor: pointer;
  z-index: 1102;
  display: block;
}

#fancybox-left-ico {
  /*background-image: url('fancybox.png');
  	background-position: -40px -30px;*/
  background: transparent url("fancy_nav_left.png") no-repeat scroll top left;
}

#fancybox-right-ico {
  /*background-image: url('fancybox.png');
  	background-position: -40px -60px;*/
  background: transparent url("fancy_nav_right.png") no-repeat scroll top left;
}

#fancybox-left:hover, #fancybox-right:hover {
  visibility: visible;
  /* IE6 */
}

#fancybox-left:hover span {
  left: 20px;
}

#fancybox-right:hover span {
  left: auto;
  right: 20px;
}

body.touch #fancybox-left:hover span {
  left: 20px;
}

body.touch #fancybox-right:hover span {
  left: auto;
  right: 20px;
}

.fancy-bg {
  position: absolute;
  padding: 0;
  margin: 0;
  border: 0;
  width: 20px;
  height: 20px;
  z-index: 1001;
}

#fancy-bg-n {
  top: -20px;
  left: 0;
  width: 100%;
  background-image: url("fancybox-x.png");
}

#fancy-bg-ne {
  top: -20px;
  right: -20px;
  background-image: url("fancybox.png");
  background-position: -40px -162px;
}

#fancy-bg-e {
  top: 0;
  right: -20px;
  height: 100%;
  background-image: url("fancybox-y.png");
  background-position: -20px 0px;
}

#fancy-bg-se {
  bottom: -20px;
  right: -20px;
  background-image: url("fancybox.png");
  background-position: -40px -182px;
}

#fancy-bg-s {
  bottom: -20px;
  left: 0;
  width: 100%;
  background-image: url("fancybox-x.png");
  background-position: 0px -20px;
}

#fancy-bg-sw {
  bottom: -20px;
  left: -20px;
  background-image: url("fancybox.png");
  background-position: -40px -142px;
}

#fancy-bg-w {
  top: 0;
  left: -20px;
  height: 100%;
  background-image: url("fancybox-y.png");
}

#fancy-bg-nw {
  top: -20px;
  left: -20px;
  background-image: url("fancybox.png");
  background-position: -40px -122px;
}

/* IE */
#fancybox-loading.fancybox-ie div {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../fancybox/fancy_loading.png', sizingMethod='scale');
}

.fancybox-ie #fancybox-close {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../fancybox/fancy_close.png', sizingMethod='scale');
}

.fancybox-ie #fancybox-title-over {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../fancybox/fancy_title_over.png', sizingMethod='scale');
  zoom: 1;
}

.fancybox-ie #fancybox-title-left {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../fancybox/fancy_title_left.png', sizingMethod='scale');
}

.fancybox-ie #fancybox-title-main {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../fancybox/fancy_title_main.png', sizingMethod='scale');
}

.fancybox-ie #fancybox-title-right {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../fancybox/fancy_title_right.png', sizingMethod='scale');
}

.fancybox-ie #fancybox-left-ico {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../fancybox/fancy_nav_left.png', sizingMethod='scale');
}

.fancybox-ie #fancybox-right-ico {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../fancybox/fancy_nav_right.png', sizingMethod='scale');
}

.fancybox-ie .fancy-bg {
  background: transparent !important;
}

.fancybox-ie #fancy-bg-n {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../fancybox/fancy_shadow_n.png', sizingMethod='scale');
}

.fancybox-ie #fancy-bg-ne {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../fancybox/fancy_shadow_ne.png', sizingMethod='scale');
}

.fancybox-ie #fancy-bg-e {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../fancybox/fancy_shadow_e.png', sizingMethod='scale');
}

.fancybox-ie #fancy-bg-se {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../fancybox/fancy_shadow_se.png', sizingMethod='scale');
}

.fancybox-ie #fancy-bg-s {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../fancybox/fancy_shadow_s.png', sizingMethod='scale');
}

.fancybox-ie #fancy-bg-sw {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../fancybox/fancy_shadow_sw.png', sizingMethod='scale');
}

.fancybox-ie #fancy-bg-w {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../fancybox/fancy_shadow_w.png', sizingMethod='scale');
}

.fancybox-ie #fancy-bg-nw {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../fancybox/fancy_shadow_nw.png', sizingMethod='scale');
}

/* start mixins */
aside.social ul a {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
aside.social ul a:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

@-moz-document url-prefix() {
}

/* Instead of writing the same code for every nav bar */
/* end mixins */
/* reset */
body {
  overflow-y: scroll;
  overflow-x: hidden;
}

.clr {
  clear: both;
}

.gallery_btn {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background: black url(../images/background.jpg) no-repeat center top;
  text-align: center;
  color: #E5DCCF;
  font: 12px Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
}

/* these are the paths to the large header titles */
div.branding h1#title {
  background: transparent url("../images/page_titles_branding.png") no-repeat;
  /*@include image-set('../images/page_titles_branding.png','../images/page_titles_branding@2X.png');*/
}

div.craft h1#title {
  background: transparent url("../images/page_titles_craft.png") no-repeat;
  /*@include image-set('../images/page_titles_craft.png','../images/page_titles_craft@2X.png');*/
}

div.design h1#title {
  background: transparent url("../images/page_titles_design.png") no-repeat;
  /*@include image-set('../images/page_titles_design.png','../images/page_titles_design@2X.png');*/
}

div.home h1#title {
  background: transparent url("../images/page_titles_home.png") no-repeat;
  /*@include image-set('../images/page_titles_home.png','../images/page_titles_home@2X.png');*/
}

div.illustration h1#title {
  background: transparent url("../images/page_titles_illustration.png") no-repeat;
  /*@include image-set('../images/page_titles_illustration.png','../images/page_titles_illustration@2X.png');*/
}

div.logos h1#title {
  background: transparent url("../images/page_titles_logos.png") no-repeat;
  /*@include image-set('../images/page_titles_logos.png','../images/page_titles_logos@2X.png');*/
}

div.packaging h1#title {
  background: transparent url("../images/page_titles_packaging.png") no-repeat;
  /*@include image-set('../images/page_titles_packaging.png','../images/page_titles_packaging@2X.png');*/
}

div.print h1#title {
  background: transparent url("../images/page_titles_print.png") no-repeat;
  /*@include image-set('../images/page_titles_print.png','../images/page_titles_print@2X.png');*/
}

div.web h1#title {
  background: transparent url("../images/page_titles_web.png") no-repeat;
  /*@include image-set('../images/page_titles_web.png','../images/page_titles_web@2X.png');*/
}

/* this is for the global nav */
#nav_home a {
  background-image: url(../images/nav_home.png);
  background-image: url("../images/nav_home.png");
  background-image: -webkit-image-set(url("../images/nav_home.png") 1x, url("../images/nav_home@2X.png") 2x);
}

#nav_illustration a {
  background-image: url(../images/nav_illustration.png);
  background-image: url("../images/nav_illustration.png");
  background-image: -webkit-image-set(url("../images/nav_illustration.png") 1x, url("../images/nav_illustration@2X.png") 2x);
}

#nav_design a {
  background-image: url(../images/nav_design.png);
  background-image: url("../images/nav_design.png");
  background-image: -webkit-image-set(url("../images/nav_design.png") 1x, url("../images/nav_design@2X.png") 2x);
}

#nav_branding a {
  background-image: url(../images/nav_branding.png);
  background-image: url("../images/nav_branding.png");
  background-image: -webkit-image-set(url("../images/nav_branding.png") 1x, url("../images/nav_branding@2X.png") 2x);
}

/*#nav_web 			a { background-image: url(../images/nav_web.png); }
#nav_craft 			a { background-image: url(../images/nav_craft.png); }
#nav_print 			a { background-image: url(../images/nav_print.png); }
#nav_logos 			a { background-image: url(../images/nav_logos.png); }
#nav_packaging 		a { background-image: url(../images/nav_packaging.png); }
#nav_kachina 		a { background-image: url(../images/nav_kachina.png); }       */
span#fancy_left_ico {
  left: 20px;
}

span#fancy_right_ico {
  right: 20px;
}

div.illustration li#kachina, body.p-2 li#kachina {
  top: 18px;
}

div.design li#kachina, body.p-3 li#kachina {
  top: 36px;
}

div.branding li#kachina, body.p-4 li#kachina {
  top: 54px;
}

div.web li#kachina {
  top: 72px;
}

div.craft li#kachina {
  top: 90px;
}

div.print li#kachina {
  top: 108px;
}

div.logos li#kachina {
  top: 126px;
}

div.packaging li#kachina {
  top: 144px;
}

li#kachina {
  background: url("../images/nav_kachina.png") no-repeat top left;
  background-image: url("../images/nav_kachina.png");
  background-image: -webkit-image-set(url("../images/nav_kachina.png") 1x, url("../images/nav_kachina@2X.png") 2x);
  width: 19px;
  height: 15px;
  position: absolute;
  top: 0;
  right: -26px;
}

h1#title {
  width: 172px;
  height: 51px;
  display: block;
  text-indent: -99999em;
  position: absolute;
  top: 412px;
  left: 30px;
}

a#logo {
  width: 76px;
  height: 75px;
  background-image: url(../images/zia_button.png);
  background-image: url("../images/zia_button.png");
  background-image: -webkit-image-set(url("../images/zia_button.png") 1x, url("../images/zia_button@2X.png") 2x);
  display: block;
  cursor: pointer;
  position: absolute;
  left: 50%;
  text-indent: -99999em;
  top: 16px;
  margin-left: -37px;
}

a#logo:hover {
  background-position: 0 -73px;
}

div#footer {
  left: 50%;
  margin-left: -169px;
  position: absolute;
  top: 552px;
  padding-bottom: 250px;
}

div#footer a {
  display: block;
  height: 18px;
  text-indent: -99999em;
}

div#footer ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

#footer ul li#phone {
  margin-left: -3px;
}

div#footer a#phone {
  background: url(../images/phone_button.png) no-repeat;
  background-image: url("../images/phone_button.png");
  background-image: -webkit-image-set(url("../images/phone_button.png") 1x, url("../images/phone_button@2X.png") 2x);
  width: 144px;
}

div#footer a#email {
  width: 180px;
  background: url(../images/email_button.png) no-repeat;
  background-image: url("../images/email_button.png");
  background-image: -webkit-image-set(url("../images/email_button.png") 1x, url("../images/email_button@2X.png") 2x);
}

div#footer a#phone:hover, div#footer a#email:hover {
  background-position: 0 -18px;
}

div #gallery {
  position: absolute;
  top: 138px;
  left: 240px;
}

div #gallery ul li.slide {
  display: inline-block;
  position: relative;
  width: 508px;
  height: 317px;
  background-image: url(../images/content_box.png);
  background-image: url("../images/content_box.png");
  background-image: -webkit-image-set(url("../images/content_box.png") 1x, url("../images/content_box@2X.png") 2x);
  margin-right: 12px;
}

div #gallery ul li.slide.blank {
  background: none;
}

div #gallery ul li.slide img.thumb {
  width: 490px;
  height: 280px;
  position: absolute;
  top: 27px;
  left: 8px;
  border: 1px solid #C9BCA6;
}

.branding #gallery ul li.slide a {
  opacity: 0.8;
  -webkit-transition: opacity 360ms ease-out 0;
  -moz-transition: opacity 360ms ease-out 0;
  -o-transition: opacity 360ms ease-out 0;
  transition: opacity 360ms ease-out 0;
}
.branding #gallery ul li.slide a:hover {
  opacity: 1;
  -webkit-transition: opacity 360ms ease-in 0;
  -moz-transition: opacity 360ms ease-in 0;
  -o-transition: opacity 360ms ease-in 0;
  transition: opacity 360ms ease-in 0;
}

aside.social {
  position: absolute;
  bottom: 0;
  left: 90px;
}
aside.social ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
aside.social ul > li {
  display: block;
  float: left;
}
aside.social ul > li:last-child {
  margin-right: 0px;
}
aside.social ul a {
  width: 25px;
  height: 25px;
  display: block;
  margin-right: 4px;
  opacity: 0.7;
  -webkit-transition: opacity 240ms ease-out 0;
  -moz-transition: opacity 240ms ease-out 0;
  -o-transition: opacity 240ms ease-out 0;
  transition: opacity 240ms ease-out 0;
}
aside.social ul a:hover {
  opacity: 1;
  -webkit-transition: opacity 360ms ease-in 0;
  -moz-transition: opacity 360ms ease-in 0;
  -o-transition: opacity 360ms ease-in 0;
  transition: opacity 360ms ease-in 0;
}
aside.social ul a.google {
  background-image: url("../images/social_gplus.png");
  background-image: -webkit-image-set(url("../images/social_gplus.png") 1x, url("../images/social_gplus@2X.png") 2x);
}
aside.social ul a.facebook {
  background-image: url("../images/social_facebook.png");
  background-image: -webkit-image-set(url("../images/social_facebook.png") 1x, url("../images/social_facebook@2X.png") 2x);
}
aside.social ul a.linkedin {
  background-image: url("../images/social_linkedin.png");
  background-image: -webkit-image-set(url("../images/social_linkedin.png") 1x, url("../images/social_linkedin@2X.png") 2x);
}
aside.social ul a.twitter {
  background-image: url("../images/social_twitter.png");
  background-image: -webkit-image-set(url("../images/social_twitter.png") 1x, url("../images/social_twitter@2X.png") 2x);
}

div #gallery ul li.slide p {
  padding-left: 9px;
  padding-top: 8px;
}

div #gallery ul li.slide p.title {
  text-align: right;
  padding: 0;
  padding-top: 6px;
  padding-right: 28px;
  font-size: 11px;
}

div #gallery_wrapper.touch {
  position: relative;
  z-index: 1;
  width: 1040px;
  height: 317px;
  overflow: hidden;
}

div #gallery_wrapper.touch ul {
  width: 2280px;
  overflow: hidden;
}

div #gallery_wrapper.touch ul li {
  float: left;
}

#wrapper {
  height: 453px;
}

#wrapper {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  margin-top: 223px;
  text-align: left;
}

a.gallery_btn {
  display: block;
  height: 36px;
  text-indent: -99999em;
  position: absolute;
  top: 342px;
  cursor: pointer;
  opacity: .75;
}

a.gallery_btn:hover {
  opacity: 1;
}

a.gallery_btn#next_btn {
  background-image: url(../images/next_button.png);
  background-image: url("../images/next_button.png");
  background-image: -webkit-image-set(url("../images/next_button.png") 1x, url("../images/next_button@2X.png") 2x);
  width: 72px;
  left: 446px;
}

a.gallery_btn#prev_btn {
  background-image: url(../images/previous_button.png);
  background-image: url("../images/previous_button.png");
  background-image: -webkit-image-set(url("../images/previous_button.png") 1x, url("../images/previous_button@2X.png") 2x);
  width: 90px;
  left: 0;
}

#main_nav ul {
  position: absolute;
  left: 110px;
  top: 160px;
}

#main_nav ul li {
  cursor: pointer;
}

#main_nav ul li a {
  width: 90px;
  height: 18px;
  display: block;
  opacity: .7;
  text-indent: -99999em;
}

#main_nav ul li a:hover {
  opacity: 1;
}

p.specs {
  font-weight: bolder;
  font-size: 15.5px;
  opacity: 0.6;
}

p.media {
  font-size: 11px;
  opacity: 0.9;
}

div#facebox div.popup table tbody td.body div.content {
  padding-top: 29px;
  background: url(../images/modal_window_tab.png) no-repeat;
  background-image: url("../images/modal_window_tab.png");
  background-image: -webkit-image-set(url("../images/modal_window_tab.png") 1x, url("../images/modal_window_tab@2X.png") 2x);
}

div#fancybox-inner {
  padding-top: 29px;
  background: url(../images/modal_window_tab.png) no-repeat;
  background-image: url("../images/modal_window_tab.png");
  background-image: -webkit-image-set(url("../images/modal_window_tab.png") 1x, url("../images/modal_window_tab@2X.png") 2x);
}

.fancy-bg {
  display: none;
}

div#fancybox-inner img {
  border: 2px solid #646A63;
  margin-right: 2px;
}

div#fancybox-inner p {
  padding-top: 6px;
}

div#facebox div.popup table tbody td.body div.content img {
  border: 2px solid #646A63;
}

div#fancybox-inner p {
  text-align: right;
  color: #C9BDA6;
}

#facebox #modal_prev {
  left: 20px;
}

#facebox #modal_next {
  right: 20px;
}
